@Html.Partial("~/Views/Admin/Index.cshtml")

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12 removePadding adminContainer">

        <div>
            do zmiany. za duzo pozycji do wyswietlenia. 
        </div>

            @*<div style="width:100%; margin: 0 auto" class="tablecontainer">
                <table id="AdminBlackListTable" class="stripe hover row-border" data-page-length='50'>
                    <thead>
                        <tr style="text-align:right !important">
                            <th>url</th>
                            <th>ID</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                </table>
            </div>*@

    </div>
</div>


