<html>
<head>
    <title></title>
</head>
<body>
    <div style="background-color: #f7f7f7; margin: 0 auto; max-width:330px;padding:25px 40px 15px 40px;">
        <img style="width: 96px; height: 96px; margin: 0 auto 30px; display: block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;" src="~/Images/Utility/favicons_fof/android-icon-192x192.png" alt="">
        <p>
            W celu aktywacji konta proszę o kliknięcie w poniższy link.
        </p>
        <p>Pozdrawiamy - <strong>Fakt or Fake</strong>.</p>
        <br />
        <p style="margin-top: 10px; text-align: center;">
            <a href="{activationLink}">Link</a>
        </p>
    </div>
</body>
</html>

