@model List<notomyk.Models.tbl_News>
@using notomyk.Infrastructure

@{
    ViewBag.Title = "Index";
}

<div class="col-lg-4" style="padding: 0 5px 0 5px;">
    @Html.Partial("_UserCard")
</div>

<div class="col-lg-8 removePadding">
    ntm
</div>


