@{
    var imgUrl = Url.Content(AppConfig.UserLogoLink(User.Identity.GetUserId()));
}

<script id="forumPostTemplate" type="text/template">
    <li class="singleComment">
        <div class="comment-box">
            <div class="panel panel-white post panel-shadow">
                <div class="col-xs-12 removePadding">
                    <div class="panel panel-default panel-google-plus" style="border:none;">

                        <div class="dropdown">
                            <i data-toggle="dropdown" class="dropdown-toggle chevron down icon"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="reportPost" data-postid="{{PostID}}">Zgłoś</a></li>
                                @if (Request.IsAuthenticated)
                                {
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="deletePost" data-postid="{{PostID}}" data-topicid="{{TopicID}}">Usuń</a></li>
                                }
                            </ul>
                        </div>

                        <div class="panel-heading">
                            <img class="img-circle pull-left" src="{{UserLogo}}" alt="img" />
                            <h3>
                                <span>{{UserName}}</span>
                                @*<span class="ui basic label">
                                    <span class="greenColor"><strong>{{positiveCount}}</strong></span>
                                    / <span>{{allCount}}</span>
                                </span>
                                <span class="ui basic label"><i class="fa-trophy orange icon"></i>{{reputationPoints}} %</span>*@
                                </h3>
                            <h5><span>Opublikowano</span> - <span>{{DateAdd}}</span> </h5>
                        </div>
                    </div>
                </div>

                <div class="post-description col-xs-12">
                    <span class="text">{{Post}}</span>
                </div>

                <div class="row m0 removePadding">
                    <div class="col-xs-5" style="padding:0 0 8px 10px">
                        @*<div class="commentFakeVote ui right labeled button " tabindex="0" title="">
                            <div class="ui button BGwhite">
                                <i class="thumbs {{class2}} down red icon"></i>
                            </div>
                            <a id="commentFakeValue" class="ui left pointing label redColor BGredColor BGredColorLight">
                                {{CommentFakeV}}
                            </a>
                        </div>

                        <div class="commentFaktVote ui left labeled button" tabindex="0" title="">
                            <a id="commentFaktValue" class="ui right pointing label greenColor BGgreenColor BGgreenColorLight">
                                {{CommentFaktV}}
                            </a>
                            <div class="ui button BGwhite" data-content="Add users to your feed">
                                <i class="thumbs {{class1}} up green icon "></i>
                            </div>
                        </div>*@
                    </div>

                    <div class="col-xs-7 text-right removePadding">
                        <a href="#" id="PostContainerJS" class="text-muted" data-postid="{{PostID}}"><u>{{RepliesV}}</u></a>
                        <div id="addReplyBox" class="ui right labeled button" tabindex="0">
                            <div class="ui button">
                                <i class="large reply icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="addPostReply row m0">
                    <div class="col-xs-12 removePadding">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="col-xs-2 col-sm-1 removePadding">
                                <img src="@imgUrl" class="img-circle avatar imgUserLogoSmall pull-left" alt="img">
                            </div>
                            <div class="col-xs-9 col-sm-10 removePadding">
                                <span class="charCounterR pull-right" style="font-size:11px"></span>
                                <textarea rows="10" maxlength="3000" id="frmReplyText" name="ReplyText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Co uważasz o tym komentarzu ?"></textarea>
                            </div>

                            <div class="col-xs-1 removePadding">
                                <form class="frmAddPostReply pull-right">
                                    <input class="postID" type="hidden" name="postID" value="{{PostID}}">

                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12">
                                <textarea rows="10" name="ReplyText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Zaloguj się aby dodać odpowiedź."></textarea>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <ul class="reply-list"></ul>
    </li>
</script>

<script id="replyPostPattern" type="text/template">
    <li class="singleReply">
        <div class="row m0">
            <div class="col-lg-1"></div>
            <div class="col-lg-11" style="padding:0 0 0 15px">
                <div class="comment-box">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="col-lg-12 post-heading removePadding">
                                <div class="panel panel-default panel-google-plus" style="border:none;">
                                    <div class="dropdown">
                                        <i data-toggle="dropdown" class="dropdown-toggle chevron down icon"></i>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="reportPost" data-postid="{{PostID}}">Zgłoś</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="deletePostReply" data-postid="{{PostID}}" data-newsid="{{TopicID}}" style="cursor:pointer">Usuń</a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-heading">
                                        <img class="img-circle pull-left" src="{{UserLogo}}" alt="" />
                                        <h3>
                                            <span>{{UserName}}</span>
                                            @*<span class="ui basic label">
                                                <span class="greenColor"><strong>{{positiveCount}}</strong></span>
                                                / <span>{{allCount}}</span>
                                            </span>
                                            <span class="ui basic label"><i class="fa-trophy orange icon"></i>{{reputationPoints}} %</span>*@
                                        </h3>
                                        <h5><span>Opublikowano</span> - <span>{{DateAdd}}</span> </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="post-description col-xs-12">
                                <span class="text">{{Post}}</span>
                            </div>
                            <div class="row m0" style="padding:0 0 8px 10px">
                                @*<div class="replyFakeVote ui right labeled button " tabindex="0">
                                    <div class="ui button BGwhite" data-content="{{popupMsg}}">
                                        <i class="thumbs {{class2}} down red icon"></i>
                                    </div>
                                    <a id="replyFakeValue" class="BGredColorLight ui basic left pointing label">
                                        {{CommentFakeV}}
                                    </a>
                                </div>

                                <div class="replyFaktVote ui left labeled button" tabindex="0">
                                    <a id="replyFaktValue" class="ui basic right pointing label BGgreenColorLight">
                                        {{CommentFaktV}}
                                    </a>
                                    <div class="ui button BGwhite" data-content="{{popupMsg}}">
                                        <i class="thumbs {{class1}} up green icon "></i>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>
