@{
    var imgUrl = Url.Content(AppConfig.UserLogoLink(User.Identity.GetUserId()));
}

<script id="forumPostTemplate" type="text/template">
    <li class="singleComment">
        <div class="col-xs-12 removePadding comment-box commentBoxJQ">
            <div class="post panel-shadow postBG" style="margin: 3px 1px">
                <div class="col-xs-12 removePadding">
                    <div class="panel panel-default panel-google-plus" style="border:none;">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <i data-toggle="dropdown" class="dropdown-toggle chevron down icon"></i>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="reportPost" data-postid="{{PostID}}">Zgłoś</a></li>

                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="deletePost" data-postid="{{PostID}}" data-topicid="{{TopicID}}">Usuń</a></li>
                                </ul>
                            </div>
                            <div class="reportSpan pull-right {{ReportedClass}}" style="margin:5px 40px 0 0;">
                                <span>
                                    <small><strong>zgłoszony </strong><i class="alarm outline icon red"></i></small>
                                </span>
                            </div>
                        }
                        <div class="post-heading">
                            <div class="pull-left">
                                <img class="img-circle avatar pull-left" src="{{LogoName}}" alt="img" />
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div class="commentStatsAbove" style="height:17px">
                                        <small class="rightMenuPostTitle"><strong>{{UserName}}</strong></small>
                                    </div>
                                    <div class="commentStatsBelow" style="height:17px">
                                        <small class="text-muted"><i class="calendar icon"></i>Dodano: {{Date}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-description col-xs-12">
                    <span class="text basicMessage {{PostBasicClass}}" style="word-wrap:break-word;">{{Post}}</span>
                    <span class="text removedMessage {{PostRemovedClass}}">Komentarz został usunięty.</span>
                </div>

                <div class="col-xs-12 removePadding">
                    <div class="col-xs-5" style="padding:0 0 8px 10px">
                    </div>

                    <div class="col-xs-7 text-right removePadding">
                        <a href="#" id="PostContainerJS" class="text-muted" data-postid="{{PostID}}"><u>{{RepliesV}}</u></a>
                        <div id="addReplyBox" class="ui right labeled button" tabindex="0">
                            <div class="ui button">
                                <i class="large reply icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 removePadding addPostReply">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="col-xs-2 col-sm-1 removePadding">
                            <img src="@imgUrl" class="img-circle avatar imgUserLogoSmall pull-left" alt="img" style="margin-top:14px;">
                        </div>
                        <div class="col-xs-9 col-sm-10 removePadding">
                            <span class="charCounter pull-right" style="font-size:11px"></span>
                            <textarea rows="10" maxlength="3000" id="frmReplyText" name="ReplyText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Co uważasz o tym komentarzu ?"></textarea>
                        </div>

                        <div class="col-xs-1 removePadding">
                            <form class="frmAddPostReply pull-right">
                                <input class="postID" type="hidden" name="postID" value="{{PostID}}">

                                <button class="btn btn-primary" type="submit" style="margin-top:14px;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 removePadding">
                            <textarea rows="10" readonly name="ReplyText" class="form-control message" style="height: 34px; overflow: hidden; resize:none" placeholder="Zaloguj się aby dodać odpowiedź."></textarea>
                        </div>
                    }
                </div>

            </div>
        </div>
        <ul class="reply-list" style="margin-bottom:2px;"></ul>
    </li>
</script>

<script id="replyPostPattern" type="text/template">
    <li class="singleReply">
        <div class="col-xs-12 removePadding" style="margin-top:2px;">
            <div class="col-xs-1 removePadding"></div>
            <div class="col-xs-11 removePadding commentBoxJQ">
                <div class="comment-box">
                    <div class="post panel-shadow">
                        <div class="post-heading postBG">
                            <div class="col-xs-12 post-heading removePadding">
                                <div class="panel panel-default panel-google-plus" style="border:none;">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <div class="dropdown">
                                            <i data-toggle="dropdown" class="dropdown-toggle chevron down icon"></i>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="reportPost" data-postid="{{PostID}}">Zgłoś</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="deletePostReply" data-postid="{{PostID}}" data-newsid="{{TopicID}}" style="cursor:pointer">Usuń</a></li>
                                            </ul>
                                        </div>
                                        <div class="reportSpan pull-right {{ReportedClass}}" style="margin:5px 40px 0 0;">
                                            <span>
                                                <small><strong>zgłoszony </strong><i class="alarm outline icon red"></i></small>
                                            </span>
                                        </div>
                                    }
                                    <div class="post-heading">
                                        <div class="pull-left">
                                            <img class="img-circle avatar pull-left" src="{{LogoName}}" alt="img" />
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <div class="commentStatsAbove" style="height:17px">
                                                    <small class="rightMenuPostTitle"><strong>{{UserName}}</strong></small>
                                                </div>
                                                <div class="commentStatsBelow" style="height:17px">
                                                    <small class="text-muted"><i class="calendar icon"></i>Dodano: {{Date}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="post-description col-xs-12">
                                <span class="text" style="word-wrap:break-word;">{{Post}}</span>
                            </div>
                            <div class="row m0" style="padding:0 0 8px 10px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>
