<div id="SinglePost">
        <div class="list-group-item n1">
            <div class="row m0">
                <div class="postDetails col-xs-12 removePadding">

                    <div class="ui cards">
                        <div class="card">
                            <div class="statInfo content">
                                <img class="userLogoNews left floated mini ui image" style="margin:0 10px 0 0;" src="~/Images/Utility/favicons_fof/android-icon-144x144.png">
                                <div class="header" style="margin-top:1px">
                                    faktorfake
                                </div>
                                <div class="meta">
                                    <i class="calendar restore icon"></i><small>Dodano: 5 godzin temu</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12" style="padding:10px 10px 10px 10px">
                    <h2>FaktOrFake - przeczytaj.</h2>
                </div>
                <div class="col-xs-12" style="padding:0 10px 10px 10px">
                    <p>

                    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. 
                    Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor diam pede cursus vitae, ultricies eu, faucibus quis, porttitor eros cursus lectus, pellentesque eget, bibendum
                    a, gravida ullamcorper quam. Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.
                        Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
                        Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor diam pede cursus vitae, ultricies eu, faucibus quis, porttitor eros cursus lectus, pellentesque eget, bibendum
                        a, gravida ullamcorper quam. Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.

                    </p>
                    <p><strong>Faktorfake.pl</strong></p>
                    <p><strong>Faktorfake.pl</strong></p>
                    <p><strong>Faktorfake.pl</strong></p>
                </div>


                <div id="" class="col-xs-12 removePadding">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="col-xs-2 col-sm-1 removePadding">
                                <img src="~/Images/UserIcons/ee70e67f-105e-4f28-b7e2-efd90eb53ca6.png" class="img-circle avatar imgUserLogoSmall pull-left" alt="img">
                            </div>
                            <div class="col-xs-9 col-sm-10 removePadding">
                                <textarea id="frmCommentText" rows="10" name="CommentText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Co uważasz o tym poście ?"></textarea>
                            </div>
                            <div class="col-xs-1 removePadding">
                                <form class="pull-right">
                                    <input class=" frmnewsid" type="hidden" name="NewsID" value=11>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12 removePadding">
                                <textarea id="frmCommentText2" rows="10" cols="500" name="CommentText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Zaloguj się aby dodać komentarz."></textarea>
                            </div>
                            <input class="frmNewsID" type="hidden" name="NewsID" value=11>
                        }
                    </div>
            </div>
        </div>

        <div class="postCommentContainer col-lg-12 removePadding">


           <div class="sorting col-lg-12 list-group-item"><c class="text-muted">Sortuj wg: </c><a href="#">daty dodania  | </a><a href="#">reputacji autorów | </a><a href="#">oceny </a></div>

            <ul id="commentsList" class="comments-list"></ul>
        </div>

        <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
    </div>

