<div class="post col-md-9 col-xs-12" style="padding: 0 5px 0 5px">
    @if (Request.IsAuthenticated)
    {

        <form id="addArticleForm" action="/Forum/Add" method="post">
            <input id="forumCategoryID" name="catID" type="hidden" value="@ViewBag.catID">

            <label>Temat:</label>
            <textarea id="topicSubject" name="sub" style="width:100%"></textarea>
            <label>Tresc:</label>

            <div>
                <textarea id="topicDescription" name="desc" style="width:100%"></textarea>
            </div>

            <input type="submit" id="addArticle" value="Dodaj" onclientclick="tinyMCE.triggerSave(false,true);" />
        </form>
    }

</div>

<section class="col-md-3" style="padding: 0 5px 0 5px">
    @Html.Action("RightMenu", "Main")
</section>
