
@{
    ViewBag.Title = "Forum";
}
<div class="post col-md-9 col-xs-12" style="padding: 0 5px 0 5px">    
    @Html.Partial("_Forum")    
</div>

<section class="col-md-3" style="padding: 0 5px 0 5px">
    @Html.Action("RightMenu", "Main")
</section>


