.rightTable {
    margin-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
}

    .rightTable .nav > li > a {
        padding: 5px 5px 5px 5px;
        border-radius: 4px 4px 0px 0px;
    }

    .rightTable .nav > li.active > a {
        color: #48CFAD;
        background-color: inherit;
        /*background-color: #f8f8f8;*/
    }

    .rightTable .nav > li > a:hover {
        color: #48CFAD;
        /*background-color: rgb(156,156,156);*/
    }

    .rightTable .nav > li > a {
        color: #333;
    }

    .rightTable .pull-left .image {
        margin-top: 12px;
    }

    .rightTable .news a {
        /*background-color: #f8f8f8;*/
    }

    .rightTable .singleUser:hover {
        background-color: #f8f8f8;
    }
    .rightTable .singleUser {
        background-color: #fff
        /*background-color: #f8f8f8;*/
    }

.activePane {
    background-color: #fff;
}

.rightTable .test {
    background-color: #fff;
    margin-top: 1px;
    margin-bottom: 1px;
    /*border: 1px solid #ddd;*/
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
}

.newsList a.item:hover,
.rightList.forumList .post .post-heading:hover
.rightTable .news a:hover {
    background-color: white;
}

.rightTopUsers .horizontal.divider,
.rightTopNews .horizontal.divider {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}