.forum > div {
    margin: 10px 0 20px 0;
}

.forum .ui.list {
    margin: 5px 0 5px 5px !important;
}

.ui.list .item > .header.content {
    font-size: 16px !important;
}

.forum .postTitle
{
    color: #4183c4 !important;
}

.forum .rightList .fText {
color: #333333;
font-size: 12px;
}

#SingleTopic {
margin-bottom:10px;
}

#SingleTopic .postDetails {
    border-top: 1px solid rgba(0,0,0,.05) !important;
    border-bottom: 1px solid rgba(0,0,0,.05) !important;
}

#SingleError .postDetails,
#SingleConfirmation .postDetails {
    border-top: 1px solid rgba(0,0,0,.05) !important;
    border-bottom: 1px solid rgba(0,0,0,.05) !important;
}

#SingleTopic #addTopicComment {
    /*background-color: yellow;*/
    background-color: #fff;

}

#addPostComment {
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(0,0,0,.05) !important;
}

#SingleTopic .card > .extra {
    border: none !important;
}


#SingleError .card > .extra,
#SingleConfirmation .card > .extra {
    border: none !important;
}


