
.adminContainer .item {
    margin-left: 8px;
    padding: 3px 1px 3px 4px !important;
}

.adminContainer .settingsDescription,
.adminContainer .settings {
    padding-top: 5px !important;
}

.adminContainer .active {
    background-color: #c9c9c9;
}

.adminContainer .profile-img {
    border-radius: 0%;
}

.breakLine350 {
    width: 415px;
    word-wrap: break-word;
    display: block;
}
