
<div class="main-login main-center">
    <img class="profile-img" src="~/Images/Utility/favicons_fof/android-icon-192x192.png" alt="">
    <p>
        Dziękujemy za rejestrację. Twoje konto zostało utworzone. Aby móc w pełni korzystać z naszego portalu prosimy Cię o potwierdzenie Twojego konta. Link aktywacyjny został wysłany na maila, który został podany podczas rejestracji.
    </p>
    <p>
        Dopóki Twoje konto nie zostanie aktywowane możesz dodać 1 newsa oraz dodawać co godzinę 1 komentarz.
    </p>
    <p>Pozdrawiamy - <strong>Fakt or Fake</strong>.</p>

    <br />
</div>


