<div class="col-xs-12 defaultContainer removePadding">
    <div class="col-xs-12 removePadding">


        <img class="ui middle aligned tiny image" src="@Url.FOFiconLight()" width="20" height="20">
        <span style="font-size:30px">Twoje konto zostało aktywowane.</span>

        <br />
        <br />

    </div>
    <div class="col-xs-12" style="padding:0 10px 10px 10px">
        <p>
            @Html.ActionLink("Link do logowania", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
        <p><strong>Pozdrawiamy - faktorfake</strong></p>
    </div>
</div>
