
<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12">
        <div class="main-login main-center">
            <img class="profile-img" src="~/Images/Utility/favicons_fof/android-icon-192x192.png" alt="">
            <p>
                <strong>Twoje konto zostało aktywowane.</strong>
            <p>Pozdrawiamy - <strong>Fakt or Fake</strong>.</p>

            @Html.ActionLink("Link do logowania", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

            <br />
        </div>
    </div>
</div>