@{
    ViewBag.Title = "Potwierdzenie resetowania hasła";
}

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>*@

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12">
        <div class="main-login main-center" style="max-width: 100%">
            <img class="profile-img" src="~/Images/Utility/favicons_fof/android-icon-192x192.png" alt="">
            <p>
                Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("kliknąc aby się zalogować.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
            <p>Pozdrawiamy - <strong>Fakt or Fake</strong>.</p>

            <br />
        </div>
    </div>
</div>