@{
    ViewBag.Title = "Potwierdzenie resetowania hasła";
}

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12">
        <div class="main-login main-center" style="max-width: 100%">
            <img class="profile-img" src="@Url.FOFiconLight()" alt="">
            <p>
                Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("kliknąc aby się zalogować.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
            <p>Pozdrawiamy - <strong>Fakt or Fake</strong>.</p>

            <br />
        </div>
    </div>
</div>