@model notomyk.ViewModel.Filters
<script type="text/javascript">

        $('.ui.dropdown').dropdown();

</script>

<div class="row">
    <div class="col-md-8 col-xs-12 removePadding">
        <div class="hidden-xs">
            @Html.Partial("_FilterLG")
        </div>
        <div class="visible-xs">
            @Html.Partial("_FilterXS")
        </div>
       
    </div>


    <div class="col-md-4 col-xs-12 removePadding">
        <div class="whatNewsFilter ui floating labeled icon dropdown button timeFilter col-md-12 col-xs-6">
            <i class="options icon"></i>
            <span class="text">Wszystkie</span>
            <div class="menu">
                <div class="header">
                    <i class="newspaper icon"></i>
                    Newsy
                </div>
                <div class="divider"></div>
                <div class="item" data-value="0">
                    Wszystkie
                </div>
                <div class="item" data-value="1">
                    Top Fakty
                </div>
                <div class="item" data-value="2">
                    Top Fake
                </div>
                <div class="item" data-value="3">
                    Top komentowane
                </div>
                <div class="item" data-value="4">
                    Top odwiedzane
                </div>
            </div>
        </div>

        <div class="ui floating labeled icon dropdown button timeFilter col-md-12 col-xs-6">
            <i class="wait icon"></i>
            <span class="text">Od początku</span>
            <div class="menu">
                <div class="header">
                    <i class="wait icon"></i>
                    Przedział czasowy
                </div>
                <div class="divider"></div>
                <div class="item" data-value="1">
                    Dzisiejsze
                </div>
                <div class="item" data-value="2">
                    Z całego tygodnia
                </div>
                <div class="item" data-value="3">
                    Z całego miesiąca
                </div>
                <div class="item" data-value="0">
                    Od początku
                </div>
            </div>
        </div>

    </div>
</div>
