@using notomyk.Infrastructure
@using notomyk.Models
@using System.Globalization;

<input class="currentPage" type="hidden" name="currentPageName" value=0>

<input id="MainPage" type="hidden" data-id="@ViewBag.MainPage" />

@Html.Partial("_NotificationTemplateJQ")
@Html.Partial("_SingleNewsTemplate")

<div class="event-list-main col-xs-12 removePadding">
    <div id="loadingImage" class="ui segment" style="width:100%; box-shadow:none; margin-bottom:5px">
        <div class="ui active inverted dimmer" style="z-index:unset">
            <div class="ui medium text loader">Wczytywanie wiadomości.</div>
        </div>
        <p></p>
    </div>
    <ul id="newsContainer" style="margin-bottom:10px"></ul>
    <input type="button" id="newPageButton" class="addNewPage col-xs-12" hidden="hidden" value="" data-id="0" />
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>

@*<div class="ui divided items" style="margin-bottom:10px !important">
        <div class="item singleNewsElement" style="padding:5px !important;">
            <div class="ui image hidden-xs hidden-sm">
                <img src="https://www.faktorfake.pl/Images/Logos/250/logo_niezalezna.jpg" style="width:120px; height:120px; margin:0 !important">
            </div>
            <div class="ui image">
                <img src="https://www.faktorfake.pl/Images/NewsImages/25adccd1-d66a-414a-8bf0-9abcfc78ec82.png" style="width:120px; height:120px;">
            </div>
            <div class="content" style="padding-left:8px">
                <a class="header">Igor Tuleya - nie mam planu B</a>
                <div class="meta">2 days ago</div>
                <div class="description p2lines">
                    <p>Kiedy zaczynałem pracę sędziego, wydawało się, że jedyne zagrożenie, z którym mogę mieć do czynienia, może pochodzić ze świata przestępczego.Teraz sprawcami poczucia dyskomfortu, w którym żyję, są rządzący</p>
                </div>
                <div class="extra">
                    <div class="col-sm-8 removePadding hidden-xs hidden-sm" style="margin:0">
                        <div class="ui label">IMAX</div>
                        <div class="ui label">Additional Languages</div>
                        <div class="ui label">IMAX</div>
                        <div class="ui label">Additional Languages</div>
                    </div>
                    <div class="col-sm-4" style="margin:0; text-align:right; padding:0">
                        <a class="ui greece basic label"><i class="desktop icon"></i>19</a>
                        <a class="ui greece basic label"><i class="comment icon"></i>19</a>
                        <a class="ui green basic label">Fakt: 20</a>
                        <a class="ui red basic label">Fakt: 20</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




