@using notomyk.Infrastructure
@using notomyk.Models
@using System.Globalization;

<input class="currentPage" type="hidden" name="currentPageName" value=0>

<input id="MainPage" type="hidden" data-id="@ViewBag.MainPage" />

@Html.Partial("_NotificationTemplateJQ")
@Html.Partial("_SingleNewsTemplate")



<div class="event-list-main col-xs-12 removePadding">
    <div id="loadingImage" class="ui segment" style="width:100%; box-shadow:none; margin-bottom:5px">
        <div class="ui active inverted dimmer" style="z-index:unset">
            <div class="ui medium text loader">Wczytywanie wiadomości.</div>
        </div>
        <p></p>
    </div>
    <ul id="newsContainer" style="margin-bottom:10px"></ul>

    

    <input type="button" id="newPageButton" class="addNewPage col-xs-12" hidden="hidden" value="" data-id="0" />
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>











