@using notomyk.Infrastructure
@using notomyk.Models
@using System.Globalization;

<input class="currentPage" type="hidden" name="currentPageName" value=0>

<input id="MainPage" type="hidden" data-id="@ViewBag.MainPage" />

@Html.Partial("_NotificationTemplateJQ")
@Html.Partial("_SingleNewsTemplate")



@*<div class="event-list-main col-xs-12 removePadding">
        <div id="loadingImage" class="ui segment" style="width:100%; box-shadow:none; margin-bottom:5px">
            <div class="ui active inverted dimmer" style="z-index:unset">
                <div class="ui medium text loader">Wczytywanie wiadomości.</div>
            </div>
            <p></p>
        </div>
        <ul id="newsContainer" style="margin-bottom:10px"></ul>



        <input type="button" id="newPageButton" class="addNewPage col-xs-12" hidden="hidden" value="" data-id="0" />
        <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
    </div>*@




<div class="ui divided items">

    @*<div class="item singleNewsElement" style="padding:5px !important">
        <div class="ui image">
            <img src="~/Images/Logos/250/logo_interiafacet.jpg" style="width:120px; height:120px; margin:0 !important">
        </div>
        <div class="ui image">
            <img src="~/Images/NewsImages/9baea186-9461-47eb-b2f5-98b0b222c882.png" style="width:120px; height:120px;">
        </div>
        <div class="content">
            <a class="header">Igor Tuleya - nie mam planu B</a>
            <div class="meta">2 days ago</div>
            <div class="description p2lines">
                <p>Kiedy zaczynałem pracę sędziego, wydawało się, że jedyne zagrożenie, z którym mogę mieć do czynienia, może pochodzić ze świata przestępczego.Teraz sprawcami poczucia dyskomfortu, w którym żyję, są rządzący</p>
            </div>
            <div class="extra">
                <div class="ui label">IMAX</div>
                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                <div class="ui label">IMAX</div>
                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                <span class="ui basic label hidden-xs">
                    <i class="desktop icon"></i>
                    19
                </span>
                <span class="ui basic label hidden-xs">
                    <i class="comments outline icon"></i>
                    1
                </span>

                <span class="ui basic  green outline  label">
                    <i class="thumbs outline green up icon"></i>
                    23
                </span>
                <span class="ui basic red outline label">
                    <i class="thumbs outline red down icon"></i>
                    4
                </span>
            </div>
        </div>
    </div>*@

    <div class="item singleNewsElement" style="padding:5px !important">
        <div class="ui image">
            <img src="https://www.faktorfake.pl/Images/Logos/250/logo_wyborcza.png" style="width:120px; height:120px; margin:0 !important">
        </div>
        <div class="ui image">
            <img src="https://www.faktorfake.pl/Images/NewsImages/0fa45b5b-4232-4089-9a4b-bc7eacd5871d.png" style="width:120px; height:120px;">
        </div>
        <div class="content" style="padding-left:7px">
            <a class="header">Igor Tuleya - nie mam planu B</a>
            <div class="meta">2 days ago</div>
            <div class="description p2lines">
                <p>Kiedy zaczynałem pracę sędziego, wydawało się, że jedyne zagrożenie, z którym mogę mieć do czynienia, może pochodzić ze świata przestępczego.Teraz sprawcami poczucia dyskomfortu, w którym żyję, są rządzący</p>
            </div>
            <div class="extra">
                <div class="ui label">IMAX</div>
                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                <div class="ui label">IMAX</div>
                <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                <span class="ui basic label hidden-xs">
                    <i class="desktop icon"></i>
                    19
                </span>
                <a class="ui basic image label">
                    <img src="~/images/UserIcons/188126b3-a692-4364-8a91-0c9fec2177a2.png">
                    Elliot
                </a>
                <i class="user green icon"></i>10

                <i class="thumbs red icon"></i>20

            </div>
        </div>
    </div>


</div>




