<div class="rightTable col-xs-12">
    <ul class=" nav nav-pills">
        @*<li class="active">
            <a href="#1a" data-toggle="tab"><small><stron>Informacje</stron></small></a>
        </li>
        <li>
            <a href="#2a" data-toggle="tab"><small><strong>Popularne</strong></small></a>
        </li>
        <li>
            <a href="#3a" data-toggle="tab"><small><strong>Uwagi</strong></small></a>
        </li>*@
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <div class="rightList">
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class=""><strong>FaktOrFake - przeczytaj</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">20 minut temu</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">1520</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class=""><strong>Jak dodać newsa</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">1 godzine temu</small>
                                    </div>
                                </div>

                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">220</span>
                                    @*<span class="label label-primary">220</span>*@
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class=""><strong>Pomysły</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">4 dni temu</small>
                                    </div>
                                </div>

                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">20</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2a">
            <h3>Brak wyników</h3>
        </div>
        <div class="tab-pane" id="3a">
            <h3>Brak wyników</h3>
        </div>
    </div>
</div>
