@model notomyk.ViewModel.Filters
@using notomyk.Infrastructure

@{
    ViewBag.Title = "Index";
}

<div class="col-md-9" style="padding-left:5px; padding-right:5px;">
    <div class="col-xs-12 visible-xs removePadding" style="margin-bottom:-5px;">
        @Html.Action("RightMenuForum")
    </div>
    <div class="col-xs-12" style="padding: 0 14px 10px 14px">
        @Html.Partial("_Filters")
    </div>
    @Html.Partial("_NewsList")
</div>

<section class="col-md-3" style="padding-left:5px; padding-right:5px;">
    @Html.Action("RightMenu")
</section>

