@model notomyk.ViewModel.NewsDetail
@using notomyk.Infrastructure

@{
    ViewBag.Title = "Index";
}


<div class="col-md-2 hidden-xs hidden-sm hidden-md" style="padding-left:5px; padding-right:5px;">
    @Html.Partial("_LeftMenu")
</div>

<div class="col-md-7" style="padding-left:5px; padding-right:5px">
    @Html.Partial("_NewsDetail")
</div>

<div class="col-md-3" style="padding-left:5px; padding-right:5px">
    @Html.Action("RightMenu", "Main", new { newsID = Model.SingleNews.tbl_NewsID, nPage = ViewBag.PageN })
</div>


