@Html.Partial("~/Views/Admin/Index.cshtml")

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12 removePadding adminContainer">

            <div style="width:100%; margin: 0 auto" class="tablecontainer">
                <table id="AdminForumTopicsTable" class="stripe hover row-border" data-page-length='50'>
                    <thead>
                        <tr style="text-align:right !important">
                            <th>UserName</th>
                            <th>Description</th>
                            <th>IsActive</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                </table>
            </div>

    </div>
</div>





