@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<p>
    <img src="http://faktorfake.hostingasp.pl/Images/Utility/favicons_fof/android-icon-192x192.png\" height="60" width="60">
    <strong> &nbsp; Proszę potwierdź założenie konta na Fakt or Fake po przez kliknięcie w następujący link: 
    <a href="">Link</a>
    </strong>
</p>*@