
<div id="SingleError">
    <div class="list-group-item n1">
        <div class="row m0">
            <div class="col-xs-12 removePadding">


                <img class="ui middle aligned tiny image" src="~/Images/Utility/favicons_fof/android-icon-144x144.png" width="30" height="30">
                <span style="font-size:30px">Wystąpił błąd.</span>

                <br />
                <br />

            </div>
            <div class="col-xs-12" style="padding:0 10px 10px 10px">
                <p>
                    @ViewBag.Message
                </p>
                <p><strong>Pozdrawiamy - faktorfake</strong></p>
            </div>

        </div>
    </div>
</div>