@Html.Partial("~/Views/Admin/Index.cshtml")

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12 removePadding adminContainer">
        <div style="width:100%; margin: 0 auto" class="tablecontainer">
            <table id="AdminUserTable" class="stripe hover row-border" data-page-length='50'>
                <thead>
                    <tr style="">
                        @*<th>Id</th>*@
                        <th>UserName</th>
                        <th>Email</th>
                        <th>EmailCon?</th>
                        <th>RoleName</th>
                        <th>LastActivity</th>
                        <th>BanTo</th>
                        <th>Comm</th>
                        <th>News</th>
                        <th>Edit</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
