<div class="col-md-3 col-xs-12 removePadding">
    @Html.Partial("~/Views/Admin/_SettingsModerator.cshtml")
</div>

<div class="col-md-3 col-xs-12 removePadding">
    @Html.Partial("~/Views/Admin/_SettingsForum.cshtml")
</div>

<div class="col-md-3 col-xs-12 removePadding">
    @Html.Partial("~/Views/Admin/_SettingsOther.cshtml")
</div>

<div class="col-md-3 col-xs-12 removePadding">
    @Html.Partial("~/Views/Admin/_SettingsRestricted.cshtml")
</div>




