<div class="col-md-3">
    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="right floated content">
                <div class="ui button">GO</div>
            </div>

            <i class="sitemap icon black"></i>
            <div class="content">
                ELMAH
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui button">GO</div>
            </div>
            <i class="settings icon black"></i>
            <div class="content">
                Edit Roles
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui button">EDIT</div>
            </div>
            <i class="settings icon black"></i>
            <div class="content">
                AppSettings
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui button">EDIT</div>
            </div>
            <i class="settings icon black"></i>
            <div class="content">
                UserTable
            </div>
        </div>
    </div>
</div>
