@model notomyk.ViewModel.AdminModel

<div class="col-md-9">
    @foreach (var user in Model.Users)
    {
    <p><span>@user.UserName</span> - <span>@user.Roles</span></p>
    }
</div>

@Html.Partial("_RightMenuAdmin")