<script id="notificationTemplateJQ" type="text/template">
    <div style="margin: 1px 0 5px 0" class="notificationBox col-xs-12 removePadding">
        <div class="ui message {{Class}}">
            <i class="close icon"></i>
            <div class="header">
                {{Header}}
            </div>
            <p>
                {{Message}}
            </p>
        </div>
    </div>
</script>
