@model System.Web.Mvc.HandleErrorInfo


<div id="SingleError" style="margin-bottom:10px;">
    <div class="list-group-item n1">
        <div class="row m0">
            <div class="col-xs-12 removePadding">

                <img class="ui middle aligned tiny image" src="@Url.FOFiconLight()" width="20" height="20">
                <span style="font-size:30px">Wystąpił błąd.</span>

                <br />
                <br />

            </div>
            <div class="col-xs-12" style="padding:0 10px 10px 10px">
                <p>
                    Podczas przetwarzania żądania wystąpił błąd. Informacje o nim zostały zapisane w naszych logach. Zapoznamy się z nim i postaramy się go naprawić.
                </p>
                <p><strong>Pozdrawiamy - faktorfake</strong></p>
            </div>

        </div>
    </div>
</div>