@Html.Partial("~/Views/Admin/Index.cshtml")

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12 removePadding adminContainer">
        <div style="width:100%; margin: 0 auto" class="tablecontainer">
            <table id="AdminNewspaperTable" class="stripe hover row-border" data-page-length='50'>
                <thead>
                    <tr style="text-align:right !important">
                        <th>ID</th>
                        <th>NewspaperName</th>
                        <th>NewspaperLink</th>
                        <th>LogoName</th>
                        <th>IsActive</th>
                        <th>Newses</th>
                        <th>Edit</th>
                        <th>Del</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

